body{
  background-image: url('85fifteen-323874-unsplash.jpg');
  background-size: cover;
	background-position: center;
  background-attachment: fixed;
  /* background: #2980b9; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #2980b9, #2c3e50); /* Chrome 10-25, Safari 5.1-6 'helloquence-61189-unsplash.jpg' */
  /* background: linear-gradient(to top, #2980b9, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
